<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><img src="./../../../../assets/LOGO_HERE.png"></a>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PRODUCTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CONTACT</a>
    </li>
  </ul>
</nav>
